USE [master]
GO
/****** Object:  Database [MessageManagement]    Script Date: 2019/9/9 14:01:03 ******/
CREATE DATABASE [MessageManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MessageManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MessageManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MessageManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\MessageManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MessageManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MessageManagement]
GO
USE [MessageManagement]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2019/9/9 14:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataBase]    Script Date: 2019/9/9 14:01:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SdataBaseName] [nvarchar](200) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime] NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime] NULL,
 CONSTRAINT [PK_DataBase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataTable]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataTable](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdataBaseId] [int] NOT NULL,
	[StableName] [nvarchar](50) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime] NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime] NULL,
 CONSTRAINT [PK_DataTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataType]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
	[StypeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_DataType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FieldRelation]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FieldRelation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
	[IprimarykeyId] [int] NOT NULL,
	[IforeignkeyId] [int] NOT NULL,
 CONSTRAINT [PK_FieldRelation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IparentId] [int] NOT NULL,
	[Sname] [nvarchar](128) NOT NULL,
	[SiconUrl] [nvarchar](128) NULL,
	[SlinkUrl] [nvarchar](128) NULL,
	[Isort] [int] NOT NULL,
	[Bdisplay] [bit] NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime] NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuAction]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuAction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
	[ImenuId] [int] NOT NULL,
	[IactionId] [int] NOT NULL,
	[BisValid] [bit] NULL,
	[Sexplain] [nvarchar](100) NULL,
 CONSTRAINT [PK_MenuAction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenu]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IroleId] [int] NOT NULL,
	[ImenuId] [int] NOT NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime] NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime] NULL,
	[Sremarks] [nvarchar](200) NULL,
 CONSTRAINT [PK_RoleMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SroleName] [nvarchar](50) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAction]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
	[SactionName] [nvarchar](200) NULL,
	[IcontrollerId] [int] NOT NULL,
	[SresultType] [nvarchar](max) NULL,
	[Bvalid] [bit] NOT NULL,
 CONSTRAINT [PK_SystemAction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemController]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemController](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
	[ScontrollerName] [nvarchar](100) NULL,
 CONSTRAINT [PK_SystemController] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableFiled]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableFiled](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
	[SfiledName] [nvarchar](max) NULL,
	[IdataTableId] [int] NOT NULL,
	[IdataTypeId] [int] NOT NULL,
	[BisEmpty] [bit] NOT NULL,
	[ImaxLength] [int] NOT NULL,
	[Sexplain] [nvarchar](max) NULL,
 CONSTRAINT [PK_TableFiled] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UploadFileInfo]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UploadFileInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uid] [uniqueidentifier] NOT NULL,
	[SoriginalFileName] [nvarchar](100) NOT NULL,
	[SfileName] [nvarchar](100) NOT NULL,
	[SfileType] [nvarchar](30) NOT NULL,
	[SfilePath] [nvarchar](500) NOT NULL,
	[SrelativePath] [nvarchar](500) NOT NULL,
	[Isize] [int] NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NULL,
	[TmodifyTime] [datetime2](7) NULL,
 CONSTRAINT [PK_UploadFileInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SloginName] [nvarchar](30) NOT NULL,
	[SloginPwd] [nvarchar](100) NOT NULL,
	[SuserName] [nvarchar](20) NOT NULL,
	[SuserPhone] [nvarchar](50) NOT NULL,
	[SuserEmail] [nvarchar](50) NOT NULL,
	[BisLock] [bit] NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime] NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime] NULL,
	[SloginLastIp] [nvarchar](64) NULL,
	[TloginLastTime] [datetime2](7) NULL,
	[IfileInfoId] [int] NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 2019/9/9 14:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IuserId] [int] NOT NULL,
	[IroleId] [int] NOT NULL,
	[Sremarks] [nvarchar](200) NULL,
	[Screater] [nvarchar](50) NOT NULL,
	[TcreateTime] [datetime2](7) NULL,
	[Smodifier] [nvarchar](50) NOT NULL,
	[TmodifyTime] [datetime2](7) NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataBase] ON 

INSERT [dbo].[DataBase] ([Id], [SdataBaseName], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (2, N'MessageManagement', NULL, N'admin', CAST(N'2019-08-29T15:23:01.927' AS DateTime), N'admin', CAST(N'2019-08-29T15:23:01.927' AS DateTime))
SET IDENTITY_INSERT [dbo].[DataBase] OFF
SET IDENTITY_INSERT [dbo].[DataTable] ON 

INSERT [dbo].[DataTable] ([Id], [IdataBaseId], [StableName], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (8, 2, N'MenuAction', NULL, N'admin', CAST(N'2019-09-04T14:28:23.213' AS DateTime), N'admin', CAST(N'2019-09-04T14:28:23.213' AS DateTime))
SET IDENTITY_INSERT [dbo].[DataTable] OFF
SET IDENTITY_INSERT [dbo].[DataType] ON 

INSERT [dbo].[DataType] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [StypeName]) VALUES (1, NULL, N'admin', CAST(N'2019-08-30T12:42:53.2235932' AS DateTime2), N'admin', CAST(N'2019-08-30T12:42:53.2237132' AS DateTime2), N'bool')
INSERT [dbo].[DataType] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [StypeName]) VALUES (2, NULL, N'admin', CAST(N'2019-08-30T12:44:07.5743141' AS DateTime2), N'admin', CAST(N'2019-08-30T12:44:07.5743215' AS DateTime2), N'int')
INSERT [dbo].[DataType] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [StypeName]) VALUES (3, NULL, N'admin', CAST(N'2019-08-30T12:44:25.0058251' AS DateTime2), N'admin', CAST(N'2019-08-30T12:44:25.0058313' AS DateTime2), N'float')
SET IDENTITY_INSERT [dbo].[DataType] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [IparentId], [Sname], [SiconUrl], [SlinkUrl], [Isort], [Bdisplay], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (2, -1, N'系统管理', N'&#xe620;', NULL, 9000, 0, NULL, N'admin', CAST(N'2019-07-22T00:00:00.000' AS DateTime), N'admin', CAST(N'2019-07-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Menu] ([Id], [IparentId], [Sname], [SiconUrl], [SlinkUrl], [Isort], [Bdisplay], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (3, 2, N'用户管理', N'&#xe612;', N'/Admin/UserInfo/Index?iPageId=3', 100, 0, NULL, N'admin', CAST(N'2019-07-22T00:00:00.000' AS DateTime), N'admin', CAST(N'2019-08-13T10:31:38.263' AS DateTime))
INSERT [dbo].[Menu] ([Id], [IparentId], [Sname], [SiconUrl], [SlinkUrl], [Isort], [Bdisplay], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (14, 2, N'菜单管理', N'', N'/Admin/Menu/Index?iPageId=14', 200, 0, NULL, N'admin', CAST(N'2019-08-07T00:00:00.000' AS DateTime), N'admin', CAST(N'2019-09-06T10:56:45.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[MenuAction] ON 

INSERT [dbo].[MenuAction] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [ImenuId], [IactionId], [BisValid], [Sexplain]) VALUES (3, N'Test', N'admin', CAST(N'2019-09-04T17:19:00.0000000' AS DateTime2), N'admin', CAST(N'2019-09-04T17:19:00.0000000' AS DateTime2), 8, 1320, 0, N'查询')
INSERT [dbo].[MenuAction] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [ImenuId], [IactionId], [BisValid], [Sexplain]) VALUES (4, N'Test', N'admin', CAST(N'2019-09-04T17:19:00.0000000' AS DateTime2), N'admin', CAST(N'2019-09-04T17:19:00.0000000' AS DateTime2), 38, 1395, 0, N'查询')
INSERT [dbo].[MenuAction] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [ImenuId], [IactionId], [BisValid], [Sexplain]) VALUES (6, NULL, N'admin', CAST(N'2019-09-06T11:28:46.7638918' AS DateTime2), N'admin', CAST(N'2019-09-06T15:24:52.3062111' AS DateTime2), 38, 1397, 0, N'编辑')
SET IDENTITY_INSERT [dbo].[MenuAction] OFF
SET IDENTITY_INSERT [dbo].[RoleMenu] ON 

INSERT [dbo].[RoleMenu] ([Id], [IroleId], [ImenuId], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [Sremarks]) VALUES (1, 1, 2, N'1', CAST(N'2019-07-19T00:00:00.000' AS DateTime), N'1', CAST(N'2019-07-19T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[RoleMenu] ([Id], [IroleId], [ImenuId], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [Sremarks]) VALUES (4, 1, 8, N'1', CAST(N'2019-07-19T00:00:00.000' AS DateTime), N'1', CAST(N'2019-07-19T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[RoleMenu] ([Id], [IroleId], [ImenuId], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [Sremarks]) VALUES (5, 1, 9, N'1', CAST(N'2019-07-02T00:00:00.000' AS DateTime), N'1', CAST(N'2019-07-02T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RoleMenu] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [SroleName], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (1, N'开发人员', N'开发者', N'admin', CAST(N'2019-07-22T00:00:00.0000000' AS DateTime2), N'admin', CAST(N'2019-08-27T14:41:04.7826778' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [SroleName], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (2, N'系统管理员', N'最高权限', N'admin', CAST(N'2019-07-22T00:00:00.0000000' AS DateTime2), N'admin', CAST(N'2019-08-13T14:39:53.4070589' AS DateTime2))
INSERT [dbo].[Roles] ([Id], [SroleName], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (3, N'来宾', N'', N'admin', CAST(N'2019-07-26T00:00:00.0000000' AS DateTime2), N'admin', CAST(N'2019-07-26T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[SystemAction] ON 

INSERT [dbo].[SystemAction] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SactionName], [IcontrollerId], [SresultType], [Bvalid]) VALUES (1297, NULL, N'admin', CAST(N'2019-08-28T16:42:02.7884113' AS DateTime2), N'admin', CAST(N'2019-08-28T16:42:02.7884178' AS DateTime2), N'Index', 58, N'IActionResult', 0)
INSERT [dbo].[SystemAction] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SactionName], [IcontrollerId], [SresultType], [Bvalid]) VALUES (1298, NULL, N'admin', CAST(N'2019-08-28T16:42:02.9531435' AS DateTime2), N'admin', CAST(N'2019-08-28T16:42:02.9531486' AS DateTime2), N'SignInAsync', 58, N'Task`1', 0)
INSERT [dbo].[SystemAction] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SactionName], [IcontrollerId], [SresultType], [Bvalid]) VALUES (1299, NULL, N'admin', CAST(N'2019-08-28T16:42:03.0866090' AS DateTime2), N'admin', CAST(N'2019-08-28T16:42:03.0866145' AS DateTime2), N'GetCaptchaImage', 58, N'IActionResult', 0)
GO
SET IDENTITY_INSERT [dbo].[SystemAction] OFF
SET IDENTITY_INSERT [dbo].[SystemController] ON 

INSERT [dbo].[SystemController] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [ScontrollerName]) VALUES (58, NULL, N'admin', CAST(N'2019-08-28T16:42:02.4839014' AS DateTime2), N'admin', CAST(N'2019-08-28T16:42:02.4839119' AS DateTime2), N'Account')
INSERT [dbo].[SystemController] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [ScontrollerName]) VALUES (59, NULL, N'admin', CAST(N'2019-08-28T16:42:03.4392248' AS DateTime2), N'admin', CAST(N'2019-08-28T16:42:03.4392326' AS DateTime2), N'Home')
INSERT [dbo].[SystemController] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [ScontrollerName]) VALUES (60, NULL, N'admin', CAST(N'2019-08-28T16:42:04.3007227' AS DateTime2), N'admin', CAST(N'2019-08-28T16:42:04.3007290' AS DateTime2), N'Menu')
SET IDENTITY_INSERT [dbo].[SystemController] OFF
SET IDENTITY_INSERT [dbo].[TableFiled] ON 

INSERT [dbo].[TableFiled] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SfiledName], [IdataTableId], [IdataTypeId], [BisEmpty], [ImaxLength], [Sexplain]) VALUES (23, NULL, N'admin', CAST(N'2019-09-04T14:28:29.1877000' AS DateTime2), N'admin', CAST(N'2019-09-04T14:28:29.1879446' AS DateTime2), N'Id', 8, 2, 0, 0, N'主键ID')
INSERT [dbo].[TableFiled] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SfiledName], [IdataTableId], [IdataTypeId], [BisEmpty], [ImaxLength], [Sexplain]) VALUES (24, NULL, N'admin', CAST(N'2019-09-04T14:28:29.3449999' AS DateTime2), N'admin', CAST(N'2019-09-04T14:28:29.3450051' AS DateTime2), N'Sremarks', 8, 5, 1, 200, N'备注')
INSERT [dbo].[TableFiled] ([Id], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SfiledName], [IdataTableId], [IdataTypeId], [BisEmpty], [ImaxLength], [Sexplain]) VALUES (25, NULL, N'admin', CAST(N'2019-09-04T14:28:29.5205688' AS DateTime2), N'admin', CAST(N'2019-09-04T14:28:29.5205735' AS DateTime2), N'Screater', 8, 5, 0, 50, N'创建人')
SET IDENTITY_INSERT [dbo].[TableFiled] OFF
SET IDENTITY_INSERT [dbo].[UploadFileInfo] ON 

SET IDENTITY_INSERT [dbo].[UploadFileInfo] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([Id], [SloginName], [SloginPwd], [SuserName], [SuserPhone], [SuserEmail], [BisLock], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SloginLastIp], [TloginLastTime], [IfileInfoId]) VALUES (4, N'admin', N'F7-6C-E2-45-0B-A8-59-8C-E9-C2-8D-C8-78-29-91-70', N'Admin', N'12345678912', N'123@qq.com', 0, NULL, N'admin', CAST(N'2019-07-19T17:39:14.110' AS DateTime), N'admin', CAST(N'2019-09-09T13:56:46.107' AS DateTime), N'::1', CAST(N'2019-09-09T13:56:45.9704542' AS DateTime2), 31)
INSERT [dbo].[UserInfo] ([Id], [SloginName], [SloginPwd], [SuserName], [SuserPhone], [SuserEmail], [BisLock], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SloginLastIp], [TloginLastTime], [IfileInfoId]) VALUES (5, N'admin123', N'D6-C3-2F-77-A8-E2-BC-BE-6C-DA-92-14-7D-CB-49-B5', N'Admin123', N'12312312312', N'admin@qq.com', 0, NULL, N'admin', CAST(N'2019-07-26T10:08:00.933' AS DateTime), N'admin', CAST(N'2019-08-06T12:47:05.950' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[UserInfo] ([Id], [SloginName], [SloginPwd], [SuserName], [SuserPhone], [SuserEmail], [BisLock], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime], [SloginLastIp], [TloginLastTime], [IfileInfoId]) VALUES (7, N'test2', N'D6-C3-2F-77-A8-E2-BC-BE-6C-DA-92-14-7D-CB-49-B5', N'test2', N'12312312312', N'admin@qq.com', 0, NULL, N'admin', CAST(N'2019-07-31T16:31:23.980' AS DateTime), N'admin', CAST(N'2019-08-06T13:39:32.913' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [IuserId], [IroleId], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (5, 5, 4, NULL, N'admin', CAST(N'2019-07-26T10:08:01.3480389' AS DateTime2), N'admin', CAST(N'2019-07-26T10:08:01.3482368' AS DateTime2))
INSERT [dbo].[UserRole] ([Id], [IuserId], [IroleId], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (9, 7, 6, NULL, N'admin', CAST(N'2019-08-06T16:05:38.1595299' AS DateTime2), N'admin', CAST(N'2019-08-06T16:05:38.1597743' AS DateTime2))
INSERT [dbo].[UserRole] ([Id], [IuserId], [IroleId], [Sremarks], [Screater], [TcreateTime], [Smodifier], [TmodifyTime]) VALUES (10, 5, 6, NULL, N'admin', CAST(N'2019-08-06T16:05:40.1600395' AS DateTime2), N'admin', CAST(N'2019-08-06T16:05:40.1600504' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
/****** Object:  Index [IX_DataTable_IdataBaseId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_DataTable_IdataBaseId] ON [dbo].[DataTable]
(
	[IdataBaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FieldRelation_IforeignkeyId_IprimarykeyId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_FieldRelation_IforeignkeyId_IprimarykeyId] ON [dbo].[FieldRelation]
(
	[IforeignkeyId] ASC,
	[IprimarykeyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MENU]    Script Date: 2019/9/9 14:01:05 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuAction_ImenuId_IactionId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_MenuAction_ImenuId_IactionId] ON [dbo].[MenuAction]
(
	[ImenuId] ASC,
	[IactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleMenu_IroleId_ImenuId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_RoleMenu_IroleId_ImenuId] ON [dbo].[RoleMenu]
(
	[IroleId] ASC,
	[ImenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemAction_IcontrollerId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_SystemAction_IcontrollerId] ON [dbo].[SystemAction]
(
	[IcontrollerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TableFiled_IdataTableId_IdataTypeId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_TableFiled_IdataTableId_IdataTypeId] ON [dbo].[TableFiled]
(
	[IdataTableId] ASC,
	[IdataTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UploadFileInfo_Uid]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_UploadFileInfo_Uid] ON [dbo].[UploadFileInfo]
(
	[Uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserRole_IroleId_IuserId]    Script Date: 2019/9/9 14:01:05 ******/
CREATE NONCLUSTERED INDEX [IX_UserRole_IroleId_IuserId] ON [dbo].[UserRole]
(
	[IroleId] ASC,
	[IuserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataBase] ADD  DEFAULT (getdate()) FOR [TcreateTime]
GO
ALTER TABLE [dbo].[DataTable] ADD  CONSTRAINT [DF_DataTables_TcreateTime]  DEFAULT (getdate()) FOR [TcreateTime]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT (getdate()) FOR [TcreateTime]
GO
ALTER TABLE [dbo].[RoleMenu] ADD  DEFAULT (getdate()) FOR [TcreateTime]
GO
ALTER TABLE [dbo].[SystemAction] ADD  DEFAULT ((0)) FOR [Bvalid]
GO
ALTER TABLE [dbo].[TableFiled] ADD  DEFAULT ((0)) FOR [BisEmpty]
GO
ALTER TABLE [dbo].[TableFiled] ADD  DEFAULT ((0)) FOR [ImaxLength]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF__UserInfo__Tcreat__5BE2A6F2]  DEFAULT (getdate()) FOR [TcreateTime]
GO
ALTER TABLE [dbo].[UserInfo] ADD  DEFAULT ((0)) FOR [IfileInfoId]
GO
USE [master]
GO
